.about {
    height: 100vh;
    width: 100%;
    background-color: #1e1e2f;
    padding: 5rem 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: justify;
}

/* 輪播容器 */
.carousel {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 8fr 1fr;
    position: relative;
}

.title {
    font-size: 3.5rem;
    text-align: center;
}

/* 動畫過渡與顯示/隱藏 */
.Tophidden,
.Lefthidden,
.Righthidden,
.show {
    transition: opacity 1s, transform 1s;
}

.Tophidden {
    opacity: 0;
    transform: translateY(-100%);
}
.Lefthidden {
    opacity: 0;
    transform: translateX(-100%);
}
.Righthidden {
    opacity: 0;
    transform: translateX(100%);
}
.show {
    opacity: 1;
    transform: none;
}

.container {
    display: grid;
    grid: 1fr / 1fr 1fr;
    padding: 0 5rem;
    gap: 1rem;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.headline {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 2rem;
}

.content,
.tips {
    line-height: 2;
}

/* 手機 RWD：360x640 */
@media (max-width: 400px) and (max-height: 700px) {
    .about {
        padding: 1.5rem 0.5rem;
        gap: 1.5rem;
        height: 100%;
    }
    .title {
        font-size: 2rem;
    }
    .container {
        padding: 0 0.5rem;
        grid: 1fr / 1fr;
        gap: 0.5rem;
    }
    .carousel {
        display: flex;
    }
    .headline {
        font-size: 1.2rem;
    }
    .subtitle {
        font-size: 1rem;
    }
    .content,
    .tips {
        font-size: 0.95rem;
        line-height: 1.6;
    }
    
    .Lefthidden {
        opacity: 1;
        transform: translateX(0%);
    }
    .Righthidden {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* 平板 RWD：768x1024 */
@media (max-width: 800px) and (max-height: 1100px) {
    .about {
        padding: 2rem 1rem;
        padding-top: 5rem;
        gap: 2rem;
        height: 100%;
    }
    .title {
        font-size: 2.2rem;
    }
    .container {
        padding: 0 1.25rem;
        grid: 1fr / 1fr;
        gap: 1rem;
    }
    .carousel {
        grid: 1fr / 1fr;
        height: 20vh;
    }
    .headline {
        font-size: 1.5rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
    .content,
    .tips {
        font-size: 1rem;
        line-height: 1.8;
    }
    
    .Lefthidden {
        opacity: 1;
        transform: translateX(0%);
    }
    .Righthidden {
        opacity: 1;
        transform: translateX(0%);
    }
}