
.container{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/006.png);
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: #000
}

.title{
    font-size: 3.5rem;
    text-align: center;
}

.questionContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.questionList{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #fff7ed;
    color: 	#9a3412;
    border: #fdba74;
    padding: 1.5rem;
}

.questionList:hover{
    background-color: #fed7aa;
}

.btn{
    margin-left: auto;
    cursor: pointer;
}

.answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s, max-height 0.5s;
    color: #4b5563;
    background-color: #fff7ed;
    font-size: 1.333rem;
    padding: 0rem 1.5rem; 
}

.show {
    opacity: 1;
    max-height: 200px;
    padding: 1rem 1.5rem; 
}


.hidden {
    position: absolute;
    opacity: 0;
    transform: translateY(-100%);
    transition: 1s;
}


.showItem {
    opacity: 1;
    transform: translateY(0) translateX(0);
    transition: 1s;
}