.video {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../assets/005.png);
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.videoFrame{
    height: 65vh;
    width: 60vw;
}

/* 平板 RWD：768x1024 */
@media (max-width: 1024px){
    .video{
        padding: 0;
    }
    
    .videoFrame{
        height: 65vh;
        width: 80vw;
    }
}