#root {
  width: 100vw;
  margin: 0 auto;
  text-align: justify;
}

*{
  scroll-behavior: smooth;
  user-select: none;
  scrollbar-width: none;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif , '粉圓體';
  box-sizing: border-box;
  line-height: 2;
}

.Tophidden {
    opacity: 0;
    transform: translateY(-100%);
}
.Lefthidden {
    opacity: 0;
    transform: translateX(-100%);
}
.Righthidden {
    opacity: 0;
    transform: translateX(100%);
}
.show {
    opacity: 1;
    transform: none;
}

/* 動畫過渡與顯示/隱藏 */
.Tophidden,
.Lefthidden,
.Righthidden,
.show {
    transition: opacity 1s, transform 1s;
}
